asgiref==3.5.0
atomicwrites==1.4.0
attrs==21.4.0
backports.zoneinfo==0.2.1
colorama==0.4.4
Django==4.0.3
django-cors-headers==3.11.0
djangorestframework==3.13.1
flake8==4.0.1
iniconfig==1.1.1
mccabe==0.6.1
packaging==21.3
pluggy==1.0.0
py==1.11.0
pycodestyle==2.8.0
pyflakes==2.4.0
pyparsing==3.0.7
pytest==7.1.1
pytest-django==4.5.2
python-decouple==3.6
pytz==2022.1
sqlparse==0.4.2
tomli==2.0.1
tzdata==2022.1
# -e git+https://github.com/bartdob/books_api.git@2f8a1f132a49486f61f18b20288988e6744c52a2#egg=UNKNOWN
